In [50]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import pandas as pd
import numpy as np
from datetime import datetime

In [52]:
curr_date = '1993-12-31'
curr_date = datetime.strptime(curr_date, '%Y-%m-%d')

In [46]:
data = pd.read_csv('Rates_Table.txt', sep=" ", header=None)
df = data.T
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))

In [47]:
df['maturity'] = pd.to_datetime(df['maturity'], format='%Y%m%d')

In [59]:
df['term'] = df['maturity'] - curr_date
#Converting days into years or not; what is the day count here, ACT/360, 30/360 ect.

In [62]:
df['mid_price'] = (df['bid_price'] + df['ask_price'])/2

In [63]:
df

0    maturity coupon bid_price ask_price      term mid_price
1  1994-06-30      0   98.3911   98.4012  181 days   98.3962
2  1994-12-31  7.625   103.812   103.875  365 days   103.844
3  1995-06-30  4.125   100.188    100.25  546 days   100.219
4  1995-12-31   4.25       100   100.062  730 days   100.031
5  1996-06-30  7.875   108.688    108.75  912 days   108.719
6  1996-12-31  6.125   104.531   104.594 1096 days   104.563
7  1997-06-30  6.375   105.156   105.219 1277 days   105.188
8  1997-12-31      6   103.781   103.844 1461 days   103.813
9  1998-06-30  5.125   100.062   100.125 1642 days   100.094
10 1998-12-31  5.125    99.625   99.6875 1826 days   99.6562

In [66]:
df['bid_price'].iloc[0]

98.3911

In [ ]:
#finding the discount factors for each bid-ask price to create the curves
df_bid = []
df_ask = []
#df_bid[0] = ((100/df['bid_price'].iloc[0])**(1/n)) - 1
#df_ask[0] = ((100/df['ask_price'].iloc[0])**(1/n)) - 1
df_bid[0] = df['bid_price'].iloc[0]*(1/(1+.5)) 
df_ask[0] =

In [69]:
def discount_factor(price, coupon, term)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
for i in df.index[:-1]: