In [180]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime
import plotly.plotly as py
import plotly.graph_objs as go
from scipy.optimize import fmin
import math

In [72]:
curr_date = '1993-12-31'
curr_date = datetime.strptime(curr_date, '%Y-%m-%d')

In [73]:
data = pd.read_csv('Rates_Table.txt', sep=" ", header=None)
df = data.T
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))

In [74]:
def calc_months(start_date, end_date):
    months = relativedelta(end_date, start_date).years*12 + relativedelta(end_date, start_date).months
    return months

In [75]:
df['maturity'] = pd.to_datetime(df['maturity'], format='%Y%m%d')

In [78]:
termlst = []
for i in range(0, len(df.index)):
    termlst.append(calc_months(curr_date, df['maturity'].iloc[i]))

df['monthly_term'] = termlst
df['num_payments'] = df['monthly_term'] / 6

In [210]:
cf_matrix = np.zeros((10, 10))
for i in list(range(0, 10)):
    #print('i: ', i)
    for j in list(range(0, 10)):
        #print(j)
        if i >= df['num_payments'].iloc[j]:
            continue
        cf_matrix[i][j] = df['coupon'].iloc[j]/2
        #print(df['num_payments'].iloc[j])
        if i == j:
            cf_matrix[i][j] += 100
#print(cf_matrix)
bid_discount_factors = np.flip(np.linalg.inv(cf_matrix).dot(np.array(df.bid_price)))
ask_discount_factors = np.flip(np.linalg.inv(cf_matrix).dot(np.array(df.ask_price)))
pd.DataFrame([bid_discount_factors, ask_discount_factors], columns=['6 months', '12 months', '18  months', '24 months',
                                                                   '30 months', '36 months', '42 months', '48  months', 
                                                                   '54 months', '60 months'], index=['Bid DF', 'Ask DF'])

,6 months,12 months,18 months,24 months,30 months,36 months,42 months,48 months,54 months,60 months
Bid DF,0.971359,0.951355,0.959751,0.943429,0.909331,0.914870,0.810766,0.796219,0.801897,0.747683
Ask DF,0.971968,0.951950,0.960328,0.943988,0.909873,0.915392,0.811277,0.796720,0.802379,0.747641

In [176]:
trace0 = go.Scatter(
    x = list(df.monthly_term),
    y = bid_discount_factors,
    mode = 'lines',
    name = 'Bid-DF'
)
trace1 = go.Scatter(
    x = list(df.monthly_term),
    y = ask_discount_factors,
    mode = 'lines',
    name = 'Ask-DF'
)
data = [trace0, trace1]
layout = dict(title = 'Discount Curves',
              xaxis = dict(title = 'Month'),
              yaxis = dict(title = 'Discount Rate'),
              )
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='bid-ask-DF_Curve')

C:\Users\austi\Anaconda\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [165]:
pd.DataFrame(cf_matrix)

,0,1,2,3,4,5,6,7,8,9
0,100.0,7.625,4.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
1,0.0,107.625,4.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
2,0.0,0.000,104.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
3,0.0,0.000,0.000,104.25,7.875,6.125,6.375,6.0,5.125,5.125
4,0.0,0.000,0.000,0.00,107.875,6.125,6.375,6.0,5.125,5.125
5,0.0,0.000,0.000,0.00,0.000,106.125,6.375,6.0,5.125,5.125
6,0.0,0.000,0.000,0.00,0.000,0.000,106.375,6.0,5.125,5.125
7,0.0,0.000,0.000,0.00,0.000,0.000,0.000,106.0,5.125,5.125
8,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.0,105.125,5.125
9,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.0,0.000,105.125

In [209]:
np.linalg.inv(cf_matrix).shape

(10, 10)

In [201]:
df['coupon'].iloc[1]/df['ask_price'].iloc[1]

0.07340553549939831

In [166]:
df

0    maturity coupon bid_price ask_price  monthly_term  num_payments
1  1994-06-30      0   98.3911   98.4012             6           1.0
2  1994-12-31  7.625   103.812   103.875            12           2.0
3  1995-06-30  4.125   100.188    100.25            18           3.0
4  1995-12-31   4.25       100   100.062            24           4.0
5  1996-06-30  7.875   108.688    108.75            30           5.0
6  1996-12-31  6.125   104.531   104.594            36           6.0
7  1997-06-30  6.375   105.156   105.219            42           7.0
8  1997-12-31      6   103.781   103.844            48           8.0
9  1998-06-30  5.125   100.062   100.125            54           9.0
10 1998-12-31  5.125    99.625   99.6875            60          10.0

In [186]:
terms = np.array(df['num_payments']/2)
bid_rates = np.array(df['coupon']/df['bid_price'])
ask_rates = np.array(df['coupon']/df['ask_price'])

In [189]:
bid_rates

array([0.0, 0.07344972907886815, 0.041172800998128506, 0.0425,
       0.07245543415756182, 0.05859488976029189, 0.06062404249674057,
       0.057813883618725144, 0.05121798875702686, 0.05144291091593475],
      dtype=object)

In [190]:
fp = lambda c, x: c[0]+(c[1]+c[2])*(c[3]/x)*(1-np.exp(-x/c[3])-c[2]*np.exp(-x/c[3]))
e = lambda p, x, y: ((fp(p,x)-y)**2).sum()

discount_factor = np.exp(-r*T)
r = theta0 + (theta1 + theta2) * ((1-np.exp(-T/lamb))/(T/lamb)) - theta2 * np.exp(-T/lamb)

pmodel = 100 * ()

p0 = np.array([0.01,0.01,0.01,1.00])  # initial parameter value
p = fmin(e, p0, args=(terms, bid_rates))
c = p
j=[]
for h in range(1,31,1):
    j.append(c[0]+(c[1]+c[2])*(c[3]/h)*(1-np.exp(-h/c[3])-c[2]*np.exp(-h/c[3])))

Warning: Maximum number of function evaluations has been exceeded.

In [194]:
print('Estimated Parameters: ', p)
print('Initial Parameters: ', p0)
h = range(1,31,1)
rateTable = pd.DataFrame.from_items([('Period', h),('NS', j)])
print(rateTable.to_string())

Estimated Parameters:  [ 0.06683759  0.74099376 -0.74172624 49.34638612]
Initial Parameters:  [0.01 0.01 0.01 1.  ]
    Period        NS
0        1  0.039841
1        2  0.053247
2        3  0.057717
3        4  0.059953
4        5  0.061296
5        6  0.062191
6        7  0.062831
7        8  0.063312
8        9  0.063686
9       10  0.063985
10      11  0.064231
11      12  0.064436
12      13  0.064609
13      14  0.064758
14      15  0.064887
15      16  0.065000
16      17  0.065101
17      18  0.065190
18      19  0.065270
19      20  0.065342
20      21  0.065407
21      22  0.065466
22      23  0.065521
23      24  0.065571
24      25  0.065617
25      26  0.065659
26      27  0.065699
27      28  0.065736
28      29  0.065770
29      30  0.065802

C:\Users\austi\Anaconda\lib\site-packages\ipykernel_launcher.py:4: FutureWarning:

from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.