In [156]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:95% !important; }</style>"))
import pandas as pd
import numpy as np
from dateutil.relativedelta import relativedelta
from datetime import datetime
import plotly.plotly as py
import plotly.graph_objs as go

In [72]:
curr_date = '1993-12-31'
curr_date = datetime.strptime(curr_date, '%Y-%m-%d')

In [73]:
data = pd.read_csv('Rates_Table.txt', sep=" ", header=None)
df = data.T
df.columns = df.iloc[0]
df = df.reindex(df.index.drop(0))

In [74]:
def calc_months(start_date, end_date):
    months = relativedelta(end_date, start_date).years*12 + relativedelta(end_date, start_date).months
    return months

In [75]:
df['maturity'] = pd.to_datetime(df['maturity'], format='%Y%m%d')

In [78]:
termlst = []
for i in range(0, len(df.index)):
    termlst.append(calc_months(curr_date, df['maturity'].iloc[i]))

df['monthly_term'] = termlst
df['num_payments'] = df['monthly_term'] / 6

In [138]:
cf_matrix = np.zeros((10, 10))
for i in list(range(0, 10)):
    #print('i: ', i)
    for j in list(range(0, 10)):
        #print(j)
        if i >= df['num_payments'].iloc[j]:
            continue
        cf_matrix[i][j] = df['coupon'].iloc[j]
        #print(df['num_payments'].iloc[j])
        if i == j:
            cf_matrix[i][j] += 100
#print(cf_matrix)

In [139]:
pd.DataFrame(cf_matrix)

,0,1,2,3,4,5,6,7,8,9
0,100.0,7.625,4.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
1,0.0,107.625,4.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
2,0.0,0.000,104.125,4.25,7.875,6.125,6.375,6.0,5.125,5.125
3,0.0,0.000,0.000,104.25,7.875,6.125,6.375,6.0,5.125,5.125
4,0.0,0.000,0.000,0.00,107.875,6.125,6.375,6.0,5.125,5.125
5,0.0,0.000,0.000,0.00,0.000,106.125,6.375,6.0,5.125,5.125
6,0.0,0.000,0.000,0.00,0.000,0.000,106.375,6.0,5.125,5.125
7,0.0,0.000,0.000,0.00,0.000,0.000,0.000,106.0,5.125,5.125
8,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.0,105.125,5.125
9,0.0,0.000,0.000,0.00,0.000,0.000,0.000,0.0,0.000,105.125

In [154]:
bid_discount_factors = np.flip(np.dot(np.linalg.inv(cf_matrix), df.bid_price))
ask_discount_factors = np.flip(np.dot(np.linalg.inv(cf_matrix), df.ask_price))

array([0.9482758620689654, 0.9062077165935463, 0.8899959590505153,
       0.8495849203765128, 0.7946618802134395, 0.7751785679846483,
       0.6602432306807179, 0.6358878565961276, 0.6245183336549386,
       0.5697803336549386], dtype=object)

In [148]:
list(df.monthly_term)

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [160]:
trace0 = go.Scatter(
    x = list(df.monthly_term),
    y = bid_discount_factors,
    mode = 'lines',
    name = 'Bid-DF'
)
trace1 = go.Scatter(
    x = list(df.monthly_term),
    y = ask_discount_factors,
    mode = 'lines',
    name = 'Ask-DF'
)
data = [trace0, trace1]
layout = dict(title = 'Discount Curves',
              xaxis = dict(title = 'Month'),
              yaxis = dict(title = 'Discount Rate'),
              )
fig = dict(data=data, layout=layout)
py.iplot(fig, filename='bid-ask-DF_Curve')

C:\Users\austi\Anaconda\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [79]:
df

0    maturity coupon bid_price ask_price  monthly_term  num_payments
1  1994-06-30      0   98.3911   98.4012             6           1.0
2  1994-12-31  7.625   103.812   103.875            12           2.0
3  1995-06-30  4.125   100.188    100.25            18           3.0
4  1995-12-31   4.25       100   100.062            24           4.0
5  1996-06-30  7.875   108.688    108.75            30           5.0
6  1996-12-31  6.125   104.531   104.594            36           6.0
7  1997-06-30  6.375   105.156   105.219            42           7.0
8  1997-12-31      6   103.781   103.844            48           8.0
9  1998-06-30  5.125   100.062   100.125            54           9.0
10 1998-12-31  5.125    99.625   99.6875            60          10.0

In [84]:
x = list(range(1, 11))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [66]:
df['bid_price'].iloc[0]

98.3911

In [ ]:
#finding the discount factors for each bid-ask price to create the curves
df_bid = []
df_ask = []
#df_bid[0] = ((100/df['bid_price'].iloc[0])**(1/n)) - 1
#df_ask[0] = ((100/df['ask_price'].iloc[0])**(1/n)) - 1
df_bid[0] = df['bid_price'].iloc[0]*(1/(1+.5)) 
df_ask[0] =

In [69]:
def discount_factor(price, coupon, term)

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [ ]:
for i in df.index[:-1]: